@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    font-family: 'Poppins',sans-serif;
}
.values{
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.values .val-box{
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(164, 164, 164);
}
.values .val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: rgb(53, 51, 52);
    margin-right: 15px;
}
.values .val-box span{
    font-size: 15px;
    color: rgb(147, 150, 150);
    font-weight: bold;
}
.board{
    width: 100%;
    margin: 30px 0px 30px 30px;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(164, 164, 164);
}
.name{
    color: rgb(39, 40, 40);
    font-weight: bold;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #eef0f3;
}
thead th{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f9fafb;
    text-align: start;
    padding: 15px;
}
tbody tr td{
    padding: 10px;
}
.payment{
    background-color: orange;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: black;
    margin-left: 30px;
    margin-top: 15px;
}
.status{
    background-color: rgb(102, 208, 246);
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: black;
    margin-left: 35px;
    margin-top: 15px;
}