@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: rgb(229, 227, 227);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 30px;
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 3px;
  width: 200px;
  border-radius: 10px;
  background-color: #d90e69;
}
.container form {
  position: relative;
  margin-top: 0px;
  min-height: 200px;
  background-color: rgb(229, 227, 227);
  overflow: hidden;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label {
  font-size: 15px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
}
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}
.checkout-form form{
  padding: 2rem;
  border-radius: .5rem;
  background-color: #aaa;
}